html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #bfc3ba ;
}

.about {
  /* position: relative; */
  /* overflow: hidden; */
}

.about__header {
  color: #1460aa;
}

.about__img {
  width: 100%;
  max-width: 200px;
  display: block;
  float: left;
  margin: 0 16px 16px 0;
}

.about__paragraph {
  color: #37323e;
  padding: 10px 16px;
}

.article {

}

.article__header {
  color: #536271;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 16px;
}

.article__footer__img {
  width: 100%;
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.article__paragraph {
  color: #37323e;
  padding: 10px 16px;
}

.article__paragraph__img {
  width: 100%;
  max-width: 700px;
  display: block;
}

.article__title {
  color: #8c7051;
}

.dairy {
  clear: both;
}

.dairy__header {
  color: #536271;
}

.dairy__paragraph {
  color: #37323e;
  padding: 10px 16px;
}

.dairy__event {
  color: green;
}

.footer {
  width: 100%;
  max-width: 700px;
  margin: 32px auto;
  clear: both;
}

.footer__content {
  color: #2f2235;
  text-align: center;
  padding-top: 16px;
}

.footer__top--link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #1460aa;
  padding: 10px 20px;
  border-radius: 5px;
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 96px auto;
 }

.main__header {
  color: #2f2235;
  text-align: center;
  padding-top: 16px;
}

.navigation {
  position: fixed;
  max-width: 100%;
  top: 16px;
  left: 10vw;
  right: 10vw;
  padding: 16px;
  background: #f4f4f4;
  border-radius: 25px;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation__link {
  color: #47682c;
}
