html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #bfc3ba ;
  min-height: 100vh;
  background-color: rgba(142, 114, 208, 1);
  background-image: linear-gradient(180deg, rgba(142, 114, 208, 1) 33%, rgba(149, 173, 168, 1) 100%);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.about {

  &__header {
    color: #1460aa;
  }

  &__img {
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
  }

  &__paragraph {
    color: #37323e;
    padding: 10px 16px;
  }
}


.article {
  &__header {
    color: #536271;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 16px;
  }

  &__footer__img {
    width: 100%;
    max-width: 50px;
    display: block;
    margin: 0 auto;
  }

  &__paragraph {
    color: #37323e;
    padding: 10px 16px;
    &__img {
      width: 100%;
      max-width: 700px;
      display: block;
    }
  }
  &__title {
    color: #8c7051;
  }
}

.dairy {
  display: grid;
  grid-template-columns: 1fr;

  &__header {
    color: #536271;
    text-align: center;
  }

  &__paragraph {
    color: #37323e;
    padding: 10px 16px;
  }

  &__event {
    color: green;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

.footer {
  width: 100%;
  max-width: 700px;
  margin: 32px auto;
  clear: both;

  &__content {
    color: #2f2235;
    text-align: center;
    padding-top: 16px;
  }

  &__top--link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #1460aa;
    padding: 10px 20px;
    border-radius: 5px;
  }
}

.main {
  width: 100%;
  max-width: 700px;
  
  &__header {
    color: #2f2235;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin: 1rem auto;
  
    &__header {
      padding-top: 1rem;
    }
  }
 }

.navigation {
  position: fixed;
  top: 0.5rem;
  right: 10vw;
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 25px;
  display: none;

  &__button {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    color: #fff;
    border: none;
    z-index: 100;
    cursor: pointer;
  }

  &__menu--visible {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    row-gap: 1rem;

  }

  &__link {
    color: #47682c;
  }

  @media screen and (min-width: 768px) {
    left: 5vw;
    right: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  
    &__button {
      display: none;
    }

    &--header {
      padding-top: 1rem;
    }

  }
}
